.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}


.titulo-centralizado {

    text-align: center;
}


p {
        
    text-align: center; 
}

#mision {

    font-size: 20px
}

.items {
    font-style: italic;

}

ul {

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}